<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CollegeProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Classes</display-name>
    <servlet-name>Classes</servlet-name>
    <servlet-class>Classes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Classes</servlet-name>
    <url-pattern>/Classes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insertstudent</display-name>
    <servlet-name>Insertstudent</servlet-name>
    <servlet-class>com.avtar.dao.Insertstudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insertstudent</servlet-name>
    <url-pattern>/Insertstudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insertsubject</display-name>
    <servlet-name>Insertsubject</servlet-name>
    <servlet-class>com.avtar.dao.Insertsubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insertsubject</servlet-name>
    <url-pattern>/Insertsubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertTeacher</display-name>
    <servlet-name>InsertTeacher</servlet-name>
    <servlet-class>com.avtar.dao.InsertTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertTeacher</servlet-name>
    <url-pattern>/InsertTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>All_Classes</display-name>
    <servlet-name>All_Classes</servlet-name>
    <servlet-class>All_Classes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>All_Classes</servlet-name>
    <url-pattern>/All_Classes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateClasses</display-name>
    <servlet-name>UpdateClasses</servlet-name>
    <servlet-class>com.avtar.dao.UpdateClasses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateClasses</servlet-name>
    <url-pattern>/UpdateClasses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_Teacher</display-name>
    <servlet-name>Update_Teacher</servlet-name>
    <servlet-class>Update_Teacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_Teacher</servlet-name>
    <url-pattern>/Update_Teacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UT</display-name>
    <servlet-name>UT</servlet-name>
    <servlet-class>com.avtar.dao.UT</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UT</servlet-name>
    <url-pattern>/UT</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>US</display-name>
    <servlet-name>US</servlet-name>
    <servlet-class>com.avtar.dao.US</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>US</servlet-name>
    <url-pattern>/US</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>USUB</display-name>
    <servlet-name>USUB</servlet-name>
    <servlet-class>com.avtar.dao.USUB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>USUB</servlet-name>
    <url-pattern>/USUB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowSubject</display-name>
    <servlet-name>ShowSubject</servlet-name>
    <servlet-class>com.avtar.dao.ShowSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowSubject</servlet-name>
    <url-pattern>/ShowSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginmatched</display-name>
    <servlet-name>Loginmatched</servlet-name>
    <servlet-class>com.avtar.dao.Loginmatched</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginmatched</servlet-name>
    <url-pattern>/Loginmatched</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.avtar.dao.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTeacherServlet</display-name>
    <servlet-name>DeleteTeacherServlet</servlet-name>
    <servlet-class>com.avtar.dao.DeleteTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTeacherServlet</servlet-name>
    <url-pattern>/DeleteTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSubjectServlet</display-name>
    <servlet-name>DeleteSubjectServlet</servlet-name>
    <servlet-class>com.avtar.dao.DeleteSubjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSubjectServlet</servlet-name>
    <url-pattern>/DeleteSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deleteclasses</display-name>
    <servlet-name>Deleteclasses</servlet-name>
    <servlet-class>com.avtar.dao.Deleteclasses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deleteclasses</servlet-name>
    <url-pattern>/Deleteclasses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deleteclass</display-name>
    <servlet-name>Deleteclass</servlet-name>
    <servlet-class>com.avtar.dao.Deleteclass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deleteclass</servlet-name>
    <url-pattern>/Deleteclass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>subject_teacher</display-name>
    <servlet-name>subject_teacher</servlet-name>
    <servlet-class>com.avtar.dao.subject_teacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>subject_teacher</servlet-name>
    <url-pattern>/subject_teacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSubjectAndTeacher</display-name>
    <servlet-name>DeleteSubjectAndTeacher</servlet-name>
    <servlet-class>com.avtar.dao.DeleteSubjectAndTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSubjectAndTeacher</servlet-name>
    <url-pattern>/DeleteSubjectAndTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSubject_Teacher</display-name>
    <servlet-name>UpdateSubject_Teacher</servlet-name>
    <servlet-class>com.avtar.dao.UpdateSubject_Teacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSubject_Teacher</servlet-name>
    <url-pattern>/UpdateSubject_Teacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowonlyClassAndTeachers</display-name>
    <servlet-name>ShowonlyClassAndTeachers</servlet-name>
    <servlet-class>com.avtar.dao.ShowonlyClassAndTeachers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowonlyClassAndTeachers</servlet-name>
    <url-pattern>/ShowonlyClassAndTeachers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectReport</display-name>
    <servlet-name>SubjectReport</servlet-name>
    <servlet-class>com.avtar.dao.SubjectReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectReport</servlet-name>
    <url-pattern>/SubjectReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoReport</display-name>
    <servlet-name>DemoReport</servlet-name>
    <servlet-class>com.avtar.dao.DemoReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoReport</servlet-name>
    <url-pattern>/DemoReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoLogin</display-name>
    <servlet-name>DemoLogin</servlet-name>
    <servlet-class>com.avtar.dao.DemoLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoLogin</servlet-name>
    <url-pattern>/DemoLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginPortalServlet</display-name>
    <servlet-name>LoginPortalServlet</servlet-name>
    <servlet-class>com.avtar.dao.LoginPortalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPortalServlet</servlet-name>
    <url-pattern>/LoginPortalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
</web-app>